.btn-lg {
    width: 120px;
    height: 37px;
    background: rgba(13, 117, 255, 0.05);
    border-radius: 4px;
    color: #0d75ff;
  }
  .btn-bmk {
    width: 120px;
    height: 37px;
    background: #ffd80d;
    border-radius: 4px;
    color: black;
    
  }
  .btn-read {
    width: 246px;
    height: 37px;
    background: #75828a;
    border-radius: 4px;
  }
  .btn-read:hover{
    color: #000000;
    background: #99d2f6;
    border: 1px #000000;
  }
  .btn-read:active{
    color: #000000;
    background: #50575c;
    border: 1px #000000;
  }
  body {
    background: #e5e5e5;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 1260px;
  }
  .lgg {
    position: relative;
    background: #0d75ff;
    border-radius: 4px;
    width: 99px;
    height: 40px;
    bottom: -16px;
    left: 15px;
    color:#fff;
  }
  .right {
    width: 670px;
  }
  .card {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 13px 15px 13px 18px;
    width: 282px;
    height: 463px;
  }
  .cards {
    width: 912px;
    display: flex;
    row-gap: 13px;
    column-gap: 13px;
    padding: 20px;
    flex-wrap: wrap;
    background-color: #f2f4f7;
  }
  #image {
    background: #f8fafd;
    border-radius: 5px;
  }
  .tmp-img {
    padding: 18px 24px;
    background: #f8fafd;
  }
  #name {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  
    color: #000000;
  
    margin-top: 19px;
  }
  #authors {
    margin-top: 2px;
  }
  #date {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
    margin-bottom: 10px;
  }
  .btns {
    gap: 6px;
    margin-bottom: 5px;
  }
  .authors {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #757881;
    margin-top: 0;
    margin-bottom: 0;
  }
  .right {
    width: 1260px;
    display: flex;
    justify-content: end;
    padding: 0;
    margin: 0;
    background-color: #fff;
  }
  .adminBtn{
      width: 165px;
      height: 34px;
      border: none;
      margin-left: 560px;
      
      background: #A6B0C3;
      border-radius: 4px;
  }
  .txt{
      align-items: center;
  }
  .card-img{
    transition: all,0.5s ;
  }
  .card-img:hover{
    transform: scale(1.18);
  }